body{
    background-color: #fff;
    font-size: 15px;
    position: relative;
    color: #252424;
    
}
h1{
    font-size: 65px;
    margin-bottom: 0.5em;
}
.bar{
    top: 0px;
    background-color: white;
    color: rgb(43, 39, 39);
    position: fixed;
    left: 0%;
    border-bottom-style: solid;
    border-width: 1px;
    font-size: 20px;
    right: 0%;
    letter-spacing: 2px;
    line-height: 3;
    display: inline-block;
    z-index: 1;
}
.gray
{
    color:rgb(43, 39, 39);
    opacity: 0.8;
    position: absolute;
    margin: 0px auto;
}

.space{
    margin:0 auto;
    letter-spacing: 2px;
    line-height: 3.5;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 70px;
    position: relative;
}
.container div{
    border:none;
    padding: 10px;
    
}
.button{
    background-color: rgb(99, 219, 219);
    color: white;
    border-radius: 50px 50px 50px 0px;
    font-size: 17px;
    padding: 10px 30px;
}

.box-1
{
    position: relative;
    width: 100%;
    min-height: 1px;
    margin-left: 75px;
    padding-right: 15px;
    padding-left: 15px;
}
.box-2{
    position:relative;
    margin-left: 10px;
    position: relative;
    
}
.round{
    border-radius: 50%;
    position: relative;
    top: 27px;
    left: 26px;
}

.inner-circle{
    position: absolute;
    border-radius:50%;
    width:365px;
    height: 365px;
    background-color: grey;
    top: 19px;
    left: 19px;
    opacity: 0.5;
}
.outter-circle{
    position: absolute;
    border-radius:50%;
    width: 400px;
    height: 400px;
    background-color:lightgrey;
    z-index: -1;
    top: 2px;
    left: 0px;
    opacity: 0.6;
}